version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    ignore:
      - dependency-name: "actions/checkout"
        update-types: ["version-update:semver-major"]
      - dependency-name: "actions/setup-node"
        update-types: ["version-update:semver-major"]
      - dependency-name: "actions/upload-pages-artifact"
        update-types: ["version-update:semver-major"]
      - dependency-name: "actions/deploy-pages"
        update-types: ["version-update:semver-major"]
