{
  "openapi": "3.1.0",
  "info": {
    "title": "Paywaz Public API",
    "version": "2025-01-01",
    "description": "Paywaz Public API. Versioned via the `Paywaz-Version` request header."
  },
  "servers": [
    {
      "url": "https://api.paywaz.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "paths": {
    "/payments": {
      "post": {
        "operationId": "createPayment",
        "summary": "Create a payment",
        "description": "Initiates a zero-fee crypto or stablecoin payment",
        "tags": ["Payments"],
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" },
          { "$ref": "#/components/parameters/PaywazVersion" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Payment" }
              }
            }
          }
        }
      }
    },
    "/payments/{paymentId}": {
      "get": {
        "operationId": "getPayment",
        "summary": "Retrieve a payment",
        "tags": ["Payments"],
        "parameters": [
          {
            "name": "paymentId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/PaywazVersion" }
        ],
        "responses": {
          "200": {
            "description": "Payment retrieved",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Payment" }
              }
            }
          },
          "404": { "description": "Payment not found" }
        }
      }
    },
    "/webhooks/payments": {
      "post": {
        "operationId": "receivePaymentWebhook",
        "summary": "Receive payment webhook events",
        "description": "Receives asynchronous payment lifecycle events from Paywaz.",
        "tags": ["Webhooks"],
        "security": [],
        "parameters": [
          { "$ref": "#/components/parameters/PaywazSignature" },
          { "$ref": "#/components/parameters/PaywazTimestamp" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WebhookEvent" }
            }
          }
        },
        "responses": {
          "200": { "description": "Webhook processed successfully" },
          "400": { "description": "Invalid payload or signature" },
          "401": { "description": "Signature verification failed" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "API key for authenticating Paywaz requests."
      },
      "PaywazWebhookSignature": {
        "type": "apiKey",
        "in": "header",
        "name": "Paywaz-Signature",
        "description": "HMAC-SHA256 webhook signature. Format: `v1=<hex_digest>`"
      }
    },
    "parameters": {
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": { "type": "string" },
        "description": "Ensures the request is processed exactly once."
      },
      "PaywazVersion": {
        "name": "Paywaz-Version",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "example": "2025-01-01"
        },
        "description": "API version to use for this request. Defaults to the account's pinned version if omitted."
      },
      "PaywazSignature": {
        "name": "Paywaz-Signature",
        "in": "header",
        "required": true,
        "schema": { "type": "string" },
        "description": "HMAC-SHA256 webhook signature. Format: `v1=<hex_digest>`"
      },
      "PaywazTimestamp": {
        "name": "Paywaz-Timestamp",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string",
          "description": "Unix timestamp (seconds)"
        }
      }
    },
    "schemas": {
      "CreatePaymentRequest": {
        "type": "object",
        "required": ["amount", "currency", "destination"],
        "properties": {
          "amount": { "type": "string" },
          "currency": { "type": "string" },
          "destination": { "type": "string" },
          "autoConvert": { "type": "boolean", "default": false },
          "metadata": { "type": "object", "additionalProperties": true }
        }
      },
      "Payment": {
        "type": "object",
        "required": ["id", "status", "amount", "currency", "createdAt"],
        "properties": {
          "id": { "type": "string" },
          "status": {
            "type": "string",
            "enum": ["pending", "confirmed", "settled", "failed"]
          },
          "amount": { "type": "string" },
          "currency": { "type": "string" },
          "destination": { "type": "string" },
          "transactionHash": { "type": "string", "nullable": true },
          "metadata": { "type": "object", "additionalProperties": true },
          "createdAt": { "type": "string", "format": "date-time" }
        }
      },
      "WebhookEvent": {
        "type": "object",
        "required": [
          "id",
          "type",
          "eventVersion",
          "livemode",
          "createdAt",
          "data"
        ],
        "properties": {
          "id": { "type": "string" },
          "type": {
            "type": "string",
            "enum": [
              "payment.pending",
              "payment.confirmed",
              "payment.settled",
              "payment.failed"
            ]
          },
          "eventVersion": { "type": "string", "example": "2025-01-01" },
          "livemode": { "type": "boolean" },
          "createdAt": { "type": "string", "format": "date-time" },
          "data": {
            "type": "object",
            "required": ["payment"],
            "properties": {
              "payment": { "$ref": "#/components/schemas/Payment" }
            }
          }
        }
      }
    }
  }
}
