openapi: 3.1.0

info:
  title: Paywaz Public API
  version: 2025-01-01
  description: |
    Paywaz Public API.
    Versioned via the `Paywaz-Version` request header.

servers:
  - url: https://api.paywaz.com
    description: Production

security:
  - ApiKeyAuth: []

paths:
  /payments:
    post:
      operationId: createPayment
      summary: Create a payment
      description: Initiates a zero-fee crypto or stablecoin payment
      tags: [Payments]
      parameters:
        - name: Idempotency-Key
          in: header
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePaymentRequest"
      responses:
        "201":
          description: Payment created
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"

  /payments/{paymentId}:
    get:
      operationId: getPayment
      summary: Retrieve a payment
      tags: [Payments]
      parameters:
        - name: paymentId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Payment retrieved
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Payment"
        "404":
          description: Payment not found

  /webhooks/payments:
    post:
      operationId: receivePaymentWebhook
      summary: Receive payment webhook events
      description: |
        Receives asynchronous payment lifecycle events from Paywaz.

        ### Webhook Signature Verification
        Paywaz signs webhook events using HMAC-SHA256.

        **Signature format**
        ```
        Paywaz-Signature: v1=<hex_signature>
        ```

        **Signing algorithm**
        ```
        signature = HMAC_SHA256(
          secret = webhook_secret,
          message = `${timestamp}.${raw_body}`
        )
        ```

        **Replay protection**
        - Reject events where |now − timestamp| > 300 seconds

      tags: [Webhooks]
      security: []
      parameters:
        - $ref: "#/components/parameters/PaywazSignature"
        - $ref: "#/components/parameters/PaywazTimestamp"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookEvent"
      responses:
        "200":
          description: Webhook processed successfully
        "400":
          description: Invalid payload or signature
        "401":
          description: Signature verification failed

components:
  schemas:
    WebhookEvent:
      type: object
      required:
        - id
        - type
        - eventVersion
        - livemode
        - createdAt
        - data
      properties:
        id:
          type: string
          example: "evt_01HZXY9M8A3P9"

        type:
          type: string
          enum:
            - payment.pending
            - payment.confirmed
            - payment.settled
            - payment.failed

        eventVersion:
          type: string
          description: Version of the webhook payload schema
          example: "2025-01-01"

        livemode:
          type: boolean

        createdAt:
          type: string
          format: date-time

        data:
          type: object
          required: [payment]
          properties:
            payment:
              $ref: "#/components/schemas/Payment"

    PaywazWebhookSignature:
      type: apiKey
      in: header
      name: Paywaz-Signature
      description: |
        HMAC-SHA256 webhook signature.
        Format: `v1=<hex_digest>`

  parameters:
  PaywazVersion:
    name: Paywaz-Version
    in: header
    required: false
    schema:
      type: string
      example: "2025-01-01"
    description: |
      API version to use for this request.
      Defaults to the account's pinned version if omitted.

    PaywazTimestamp:
      name: Paywaz-Timestamp
      in: header
      required: true
      schema:
        type: string
        description: Unix timestamp (seconds)

  schemas:
    CreatePaymentRequest:
      type: object
      required: [amount, currency, destination]
      properties:
        amount:
          type: string
        currency:
          type: string
        destination:
          type: string
        autoConvert:
          type: boolean
          default: false
        metadata:
          type: object
          additionalProperties: true

    Payment:
      type: object
      required: [id, status, amount, currency, createdAt]
      properties:
        id:
          type: string
        status:
          type: string
          enum: [pending, confirmed, settled, failed]
        amount:
          type: string
        currency:
          type: string
        destination:
          type: string
        transactionHash:
          type: string
          nullable: true
        metadata:
          type: object
          additionalProperties: true
        createdAt:
          type: string
          format: date-time

    WebhookEvent:
      type: object
      required:
        [id, type, eventVersion, livemode, createdAt, data]
      properties:
        id:
          type: string
        type:
          type: string
          enum:
            - payment.pending
            - payment.confirmed
            - payment.settled
            - payment.failed
        eventVersion:
          type: string
        livemode:
          type: boolean
        createdAt:
          type: string
          format: date-time
        data:
          type: object
          required: [payment]
          properties:
            payment:
              $ref: "#/components/schemas/Payment"
