name: SBOM

on:
  push:
    branches: [ main ]

jobs:
  sbom:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate SBOM
        uses: anchore/syft-action@v0.17.0
        with:
          output: sbom.json
